.antonioText1 {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: black;
}

/* Estilos generales para las redes sociales */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}

.social-media h3 {
    color: black;
    text-align: center;
    text-transform: uppercase; /* Corregido "upercase" a "uppercase" */
    position: relative;
    z-index: 1;
    padding: 0 20px;
}

.linea1 {
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    height: 3px;
    background-color: #E00613;
    z-index: 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los iconos */
.icon {
    background-color: #000000;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
}

/* Estilo general para los íconos dentro de .icon */
.icon img {
    filter: invert(1);
}

/* Tamaños específicos para cada ícono */
.facebook-icon img {
    width: auto;
    height: 30px; 
}

.instagram-icon img {
    width: 30px; 
    height: auto; 
}

.whatsapp-icon img {
    width: 30px; 
    height: auto; 
}

.iconColor {
    color: white;
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
    .social-media {
        margin-top: 30px;
    }

    .social-media h3 {
        padding: 0 10px; /* Reducir el padding en pantallas más pequeñas */
    }

    .icon {
        width: 45px; /* Ajustar el tamaño de los iconos */
        height: 45px;
    }

    .icon img {
        width: 25px; /* Ajustar el tamaño de las imágenes dentro de los iconos */
        height: auto;
    }

    .linea1 {
        top: 15px; /* Ajustar la posición de la línea */
    }
}

@media (max-width: 480px) {
    .social-media {
        margin-top: 20px;
    }

    .social-media h3 {
        font-size: 1.2rem; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    }

    .icon {
        width: 40px; /* Más pequeño en pantallas muy pequeñas */
        height: 40px;
    }

    .icon img {
        width: 20px; /* Ajustar aún más el tamaño de las imágenes dentro de los iconos */
        height: auto;
    }

    .icon .F {
        width: 12px;
        height: auto;
    }
}
